# Generator
- A generator is a special type of function that return an iterator but instead of returning all at once **it use yield one value at a time**

In [6]:
def simple(): # in function we use return
    return [1,2,3] 
a = simple()
print(a)

def simple_generator(): # in generator we use yield
    yield 1
    yield 2
    yield 3

b = simple_generator()
print(next(b)) # it return first value ,,,,return only one value until we requested for new value
print(next(b)) # reuqest to next value
print(next(b))

[1, 2, 3]
1
2
3

In [10]:
# in function
def num_list(n): # to print 5 number in list by using function
    num = []
    for i in range(n):
        num.append(i)
    return num

a = num_list(5)
print(a)

[0, 1, 2, 3, 4]

In [12]:
# in generator
def gen_num_list(n): 
    for i in range(n):
        yield i
b = gen_num_list(5)
for no in b:
    print(no)

0
1
2
3
4

1. print a python program to count number up to n. start with 1. use function

In [17]:
def count_n(n):
    for i in range(1,n+1):
        print(i)
n=int(input("Enter a number"))  # to take inut from user
count_n(n)

Enter a number 10

1
2
3
4
5
6
7
8
9
10

2.print a python program to count number up to n.start with 1.use generator

In [22]:
def count_n(n):
  i=1
  while i<=n:
      yield i
      i += 1

#for no in count_n(5):   # to print all value 
  #  print(no)

a=count_n(5) # to print one by one value
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4
5

3. find square using generator

In [27]:
def gen_square(n):
    for i in range(1,n+1): # start from 1
        yield i*i
for sqr in gen_square(10): # passing parameter
    print(sqr)

1
4
9
16
25
36
49
64
81
100

4. generator for printing characters of strings

In [30]:
def gen_char(text):
    for char in text:
        yield char

for ch in gen_char('mohini'):
    print(ch)

m
o
h
i
n
i

5. write a generator even number(n) that yield even number from 0 to n

In [33]:
def gen_even_number(n): # define a generator
    for i in range(0,n+1,2): # starting from 0 and n+1 is end point and 2  for increment by 2
        yield i

for even in gen_even_number(10): # print even from 0 to 10
    print(even)

0
2
4
6
8
10

6. create a generator fibonacci(n) that yield the first n fibonacci numbers

In [36]:
def fibonacci_num(n):
    a,b=0,1 # initialize the a=0 and b=1
    for _ in range(n):
        yield a
        a,b=b,a+b

for fibo in fibonacci_num(10):
    print(fibo)

0
1
1
2
3
5
8
13
21
34

7. write a generator infinite_numbers() that yield natural number starting from infinitely use next() to print the first 10 number

In [45]:
def natural_num(n):
    for i in range(1,n+1):
        yield i

a = natural_num(10)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4
5
6
7
8
9
10

8. create a generator reverse string(text) that yield character of a string in reverse order

In [50]:
def reverse_string(text):
    for ch in reversed(text): # to reverse a string
        yield ch

for char in reverse_string('mohini'):
    print(char)

i
n
i
h
o
m

# Decorator
- in decorator we add extra features
- a decorator is a function that adds extra things / features to another function without changing the original function
- we use wrapper function to runs your original function and add something before or after it

In [56]:
def sample_decorator(func): # outer function
    def wrapper(): # inner function / wrapper function
        print('before function runs:')
        func()
        print('after function runs :')

    return wrapper

@sample_decorator # add decorator (use when we add extra feature)
def hello():
    print('hello')
hello() # call function

before function runs:
hello
after function runs :

In [58]:
def multiply(func): # we pass only function
    def wrapper(x):
        result = func(x)
        return result * 2 
    return wrapper

@multiply # add decorator
def mul(n):
    return n * n
print(mul(5))

50

In [63]:
def hello(func):
    def wrapper():
        print('hello !')
        func()
        print('bye bye')
    return wrapper
@hello
def name():
    print('i am mohini')
name()

hello !
i am mohini
bye bye

In [67]:
def uppercase(func):
    def wrapper():
        original_result = func()
        modified_result=original_result.upper()
        return modified_result
    return wrapper

@uppercase
def greet():
    return "Hello"
print(greet())

HELLO

In [69]:
def even(even_odd):
    def func1(n):
        if n % 2 == 0:
            return even_odd(n)
        else:
            return f"{n} is not an even number"
    return func1

@even
def even_odd(n):
    return f"{n} is an even number"
print(even_odd(8))
print(even_odd(5))

8 is an even number
5 is not an even number

In [71]:
def hello(func):
    def wrapper() :
       print("/")
       func()
       print("/")
    return wrapper
@hello
def name():
    print("hello")
name()

/
hello
/

1. write a decorator that check if the input to a function is a positive number

In [74]:
def positive(pos_neg): 
    def funct1(num):
        if num > 0: # check number is positive
            return pos_neg(num)
        else:
            return f'{num} is not an positive number'
    return funct1

@positive # add decorator
def pos_neg(num):
    return f'{num} is an positive number'

print(pos_neg(10))
print(pos_neg(-1))

10 is an positive number
-1 is not an positive number

2. create a decorator that print 'access granted' before any function

In [83]:
def access_granted(func):
    def wrapper():
        print('access granted')
        func() # call original function
    return wrapper
@access_granted # add decorator
def name():
        print('i am mohineee')
name()

access granted
i am mohineee

3. create a decorator that count how many times a function is called

In [88]:
def count_times(func): #define decorator function that count how many times a function is called
    
    def wrapper():  
        wrapper.count += 1 # increase the count each time the function is called
        print(f"called {wrapper.count} times ")
        return func() 
    wrapper.count=0
    return wrapper

@count_times
def names():
    print("mohineee")

names()
names()

called 1 times
mohineee
called 2 times
mohineee

4. Ask the user to enter side of a sqaure and radius of a circle.compare the areas and print which is greater.

In [91]:


side = float(input("Enter side of square: "))
radius = float(input("Enter radius of circle: "))

# Calculate areas
square_area = side ** 2
pi=3.14
circle_area = 3.14 * (radius ** 2)

# Compare areas
if square_area > circle_area:
    print("area of square is greater")
elif circle_area > square_area:
    print("area of circle is greater")
else:
    print("Both areas are equal")

print(f"Area of square: {square_area:.2f}")
print(f"Area of circle: {circle_area:.2f}")

Enter side of square:  28
Enter radius of circle:  9

area of square is greater
Area of square: 784.00
Area of circle: 254.34

5. Take hour parked as input.first 2 hour are Rs10 each remaining hour are Rs 5 per hour calculate total charge.

In [95]:
hour = int(input("Enter the  hours parked: ")) # taking hour from user

if hour <= 2:
    charge = hour * 10 #  First 2 hours are Rs 10 each
else:
    charge = 20 + (hour - 2) * 5  # First 2 hours are Rs 20, remaining hours are Rs 5 each

print("Total charge are : Rs", charge)

Enter the  hours parked:  10

Total charge are : Rs 60

# Libraries

In [98]:
import pandas as pd
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [100]:
# data loading libraries
# dataframe df is tabular format sheet that  we store the data

data = {'name':['mohini','gauri'],
       'age':[21,14],
       'course':['DS','9th']}

df = pd.DataFrame(data) # to create dataframe
print(df)

     name  age course
0  mohini   21     DS
1   gauri   14    9th

In [102]:
df.shape # to get number of rows and columns

(2, 3)

In [104]:
# create a dataframe with the column : name, education, age, city, hobbies

stud_data={"Name":['mohini','gauri'],
          "Education":['computer science','9th'],
          "Age":[21,14],
          "City":['Pune','Dehu'],
          "Hobbies":['Dancing','Dancing']}
df=pd.DataFrame(stud_data)
print(df)

     Name         Education  Age  City  Hobbies
0  mohini  computer science   21  Pune  Dancing
1   gauri               9th   14  Dehu  Dancing

In [108]:
# add a new column along with the values to the dataframe
df['Marks']=[70,90]
print(df)

     Name         Education  Age  City  Hobbies  Marks
0  mohini  computer science   21  Pune  Dancing     70
1   gauri               9th   14  Dehu  Dancing     90

In [110]:
# show the summary of statistics of the data frame
df.describe()

             Age      Marks
count   2.000000   2.000000
mean   17.500000  80.000000
std     4.949747  14.142136
min    14.000000  70.000000
25%    15.750000  75.000000
50%    17.500000  80.000000
75%    19.250000  85.000000
max    21.000000  90.000000

In [112]:
# show the entries where city is pune
print(df[df['City']=='Pune'])

     Name         Education  Age  City  Hobbies  Marks
0  mohini  computer science   21  Pune  Dancing     70

In [114]:
# show the entries where the hobbies are same
hobbies=df[df.duplicated('Hobbies',keep=False)] # keep=false  use for it return all duplicate values
print(hobbies)

     Name         Education  Age  City  Hobbies  Marks
0  mohini  computer science   21  Pune  Dancing     70
1   gauri               9th   14  Dehu  Dancing     90

In [116]:
#save the data frame to a csv file name
df.to_csv("Student_data.csv",index=False)

1. write a function that reverse the order of words in a string without using bulit-in -method like split().

In [119]:
def reverse_word(x): # create function for reverse word
    word=""  # initialize variable to store in word and ans
    ans=""
    for char in x:
        if char== " ":  # if charecter is space add word to ans and reset word
            ans=word+" " + ans
            word="" 
        else: # if charecter is not a space add in current word
            word += char
    ans=word + " " + ans # add last word to the ans
    return ans.strip()  # remove space from both end

x="Hello Good morning"
print(reverse_word(x))

morning Good Hello

2. write a function that compress a string using the count of repeated charecter e.g "aabcccccaaa" - "a2b1c5a3".

In [122]:
def compress_string(string):
    ans = "" # Initialize variables to store result and count
    count = 1
    for i in range(len(string)):
        if i == len(string) - 1 or string[i] != string[i + 1]: # Check if it's the last character or different from the next one
            ans += string[i] + str(count ) # Append character and count to result
            count = 1  # Reset count for next character
        else:
            count += 1 # Increment count if character is repeated
    return ans

# Test the function
string = "aabcccccaaa"
print(compress_string(string))

a2b1c5a3

3. swap the values of two variables without using a third variable.

In [125]:
x = 10 # initilize values
y = 15

print("Before swapping: x = ", x, "y = ", y) # before swapping

# swap the variable
x, y = y, x

print("After swapping: x = ", x, "y =", y)

Before swapping: x =  10 y =  15
After swapping: x =  15 y = 10

In [127]:
flower=['rose','tulip','lily','jasmin','mogra']
print(flower)
# index 3-orchid
flower.insert(3,'orchid')
print(flower)
# hibiscus,lavender,iris,sunflower add
flower2=['hibiscus','lavender','iris','sunflower']
flower.extend(flower2)
print(flower)
# last flower remove
flower.remove('sunflower')
print(flower)
# 5 th index flower remove
print(flower.pop(5))
print(flower)

['rose', 'tulip', 'lily', 'jasmin', 'mogra']
['rose', 'tulip', 'lily', 'orchid', 'jasmin', 'mogra']
['rose', 'tulip', 'lily', 'orchid', 'jasmin', 'mogra', 'hibiscus', 'lavender', 'iris', 'sunflower']
['rose', 'tulip', 'lily', 'orchid', 'jasmin', 'mogra', 'hibiscus', 'lavender', 'iris']
mogra
['rose', 'tulip', 'lily', 'orchid', 'jasmin', 'hibiscus', 'lavender', 'iris']